ROOT_DIR=$(cd $(dirname "${BASH_SOURCE[0]}") && pwd)	

deploy_to_esp() {
	rshell rsync  . /pyboard
}

flash_esp() {
	esptool.py --port /dev/ttyUSB0 erase_flash
	 esptool.py --chip esp32 --port /dev/ttyUSB0 write_flash -z 0x1000 $1	
}
